@import "reset";
@import "mixin";

body {
	padding: 0;
	margin: 0;
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 22px;
	height: 100%;
	background: #f2f2f2;
	color: #333;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-ms-text-size-adjust: 100%
}

a {
	color:#206AB6;
	text-decoration:none;
	-webkit-transition: color .1s ease-in-out;
	-moz-transition: color .1s ease-in-out;
	-o-transition: color .1s ease-in-out;
	-ms-transition: color .1s ease-in-out;
	transition: color .1s ease-in-out;
	-webkit-tap-highlight-color: #333
}

a:visited {
	color:#206AB6
}

a:hover {
	color:#333
}

a:hover, a:active, a:focus{
	outline:none
}

#main-header{
	background: #fff;
	padding: 20px 0;
	border-bottom: 1px solid #d2d3d4;
	overflow:hidden;
}

#main-header .main-header-inner, #main-content .main-content-inner, #main-footer .main-footer-inner{
	width: 940px;
	margin: 0 auto
}

#main-header .main-header-inner .help{
	float: right;
	margin-top: 5px
}

#main-header .main-header-inner .help a{
	@include button-blue;
	@include transition;
	padding: 7px 40px;
}

#main-content{
	border-top: 1px solid #fff;
	border-bottom: 1px solid #d2d3d4;
	padding: 40px 0
}

#main-content #information{
	margin-right: 340px
}

#main-content #login-register{
	float: right;
	width: 300px;
	margin-left: -300px
}

#main-footer{
	border-top: 1px solid #fff
}

#main-footer .main-footer-inner{
	padding: 20px 0;
	margin-bottom: 10px
}

#main-header #logo{
	background: url(../images/logo.png) no-repeat;
	width: 150px;
	height: 36px;
	display: inline-block;
	text-indent: -999em
}

#login-register #login{
	margin-bottom: 40px
}

#login-register #login .title, #login-register #register .title{
	@include title-center;
}

#login-register .light{
	@include input-shadow;
}

#login-register #login .login-username, #login-register #login .login-password{
	margin-bottom: 15px
}

#login-register .ic-on{
	float: left;
	@include icon-bg;
	@include transition;
	cursor: pointer
}

#login-register .icon-mail{
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(http://biztree.mn/assets/glyphicons-halflings-dfe254c1f38954318cdb116f7be5fd03.png) -72px 0 no-repeat
}

#login-register .icon-pass{
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(http://biztree.mn/assets/glyphicons-halflings-dfe254c1f38954318cdb116f7be5fd03.png) -287px -24px no-repeat
}

#login-register .icon-name{
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(http://biztree.mn/assets/glyphicons-halflings-dfe254c1f38954318cdb116f7be5fd03.png) -168px 0 no-repeat
}

#login-register .biztree-input{
	@include input-box;
	width: 249px;
	display: inline-block;
	margin-left: -1px
}

#login-register #login .login-button{
	float: right;
	@include button-blue;
	@include transition;
}

#login-register #login .remember-pass .rem-text{
	margin-left: 3px;
	cursor: pointer
}

#login-register #login .remember-pass input[type="checkbox"]{
	@include checkbox;
	@include transition;
}

#login-register input[type="checkbox"]:checked::before {
	-webkit-user-select: none;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAcklEQVQY02NgwA/YoJgoEA/Es4DYgJBCJSBeD8SboRinBiYg7kZS2IosyQ/Eakh8LySFq4FYHFlxGRBvBOJYqMRqJMU+yApNkSRAeC0Sux3dfSCTetE0wKyXxOWhMKhTYIr9CAUXyJMzgLgBagBBgDPGAI2LGdNt0T1AAAAAAElFTkSuQmCC);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	content: '';
	display: block;
	height: 100%;
	width: 100%;
}

#login-register #login .forgot-pass .icon-pass2{
	display: inline-block;
	margin-right: 5px;
	width: 13px;
	height: 13px;
	background: url(http://biztree.mn/assets/glyphicons-halflings-dfe254c1f38954318cdb116f7be5fd03.png) -96px -96px no-repeat
}

#login-register #login .forgot-pass{
	margin-top: 5px;
}

#login-register #login .forgot-pass .forgot-pass-link{
	color: #333;
	@include transition;
}

#login-register #login .forgot-pass .forgot-pass-link:hover{
	color: #206ab6
}

#login-register #login .login-social{
	overflow: hidden;
	margin-top: 20px;
}

#login-register #login .login-social .social-button a{
	width: 60px;
	height: 32px;
	float: left;
	display: block;
	margin-right: 20px;
	@include social-icon;
	@include transition;
	@include social-style;
}

#login-register #login .login-social .facebook a{
	background-color: #3b5998
}

#login-register #login .login-social .twitter a{
	background-position: 0 -33px;
	background-color: #00aced
}

#login-register #login .login-social .googleplus a{
	background-position: 0  -66px;
	background-color: #d53c30
}

#login-register #login .login-social .linkedin a{
	background-position: 0  -99px;
	background-color: #0073b2;
	margin-right: 0
}

#login-register .register-name1, #login-register .register-name2, #login-register .register-mail, #login-register .register-password{
	margin-bottom: 15px
}

#login-register #register .terms{
	margin: 16px 0
}

#login-register #register .terms #terms{
	@include checkbox;
	@include transition;
}

#login-register #register .terms span{
	margin-left: 3px;
	cursor: pointer
}

#login-register #register .register-biztree{
	text-align: center
}

#login-register #register .register-button{
	@include button-blue;
	@include transition;
	padding: 6px 15px;
}

#login-register .register-company .button{
	@include button-blue;
	@include transition;
	display: block;
}

#login-register .register-biztree .sub-title{
	@include title-center;
	margin: 20px 0;
	font-size: 13px;
}

#main-footer .biztree-links{
	text-align: center
}

#main-footer .biztree-links .sep{
	width: 2px;
	height: 13px;
	display: inline-block;
	background: url(../images/link-sep.png) no-repeat;
	margin: 0 10px;
}

#main-footer .biztree-footer-logo{
	width: 43px;
	height: 36px;
	display: block;
	float: left;
	background: url(../images/footer-logo.png) no-repeat;
	margin-right: 20px;
	margin-top: 3px
}

#main-footer .copyright{
	display: block
}

#main-footer .developed{
	float: right
}

#information .company{
	background: white;
	padding: 15px;
	list-style: none;
}

@import "responsive";